*.swp
*.tmp
*.dump
coverage.out
revel-build.log
todo/
tmp/
vendor/
update_dependencies.sh
distro/
build/percona-qan-agent*
bin/percona-qan-agent/percona-qan-agent
bin/percona-qan-agent-installer/percona-qan-agent-installer
